* {
    font-family: 'Comfortaa', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #e7e7e7;
}
body p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    padding: 16px 0;
    color: #000000;
}
header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}
header nav li a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}
.container {
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
}
.capa img {
    height: 500px;
}
.capa p {
    font-weight: 200;
    font-style: italic;
    font-size: 14px;
}
header .container,
section .container {
    display: flex;
    justify-content: space-between;
}
section .container {
    align-items: flex-start;
}
section {
    padding: 24px 0;
}
section h2 {
    font-size: 85px;
    font-weight: 900;
    margin-bottom: 16px;
}
.segunda-secao h2 {
    text-align: center;
    padding-bottom: 45px;
}
.projetos {
    display: flex;
    text-align: center;
}
.projetos article {
    justify-content: center;
}
.projetos article img {
    width: 90%;
    border-radius: 10px;
}
button {
    border: none;
    border-radius: 2px;
}
button img {
    height: 20px;
    width: 20px;
}
button:hover {
    background-color: #535353;
}

form input,
textarea,
form button {
display: block;
width: 400px;
margin-bottom: 8px;
padding: 8px;
}
form textarea {
    resize: none;
    height: 180px
}
form button {
    background-color: #000000;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}
input:focus textarea:focus {
    outline-color: #182c61;
}
h3 {
    text-align: center;
}
.redes-sociais {
    display: flex;
    padding: 0;
}
.redes-sociais img {
    width: 30px;
    margin: 10px;
}
.redes-sociais li {
    display: inline;
}
footer {
    text-align: center;
    background-color: #000000;
    padding: 5px 0;
    color: #fff;
}